module.FWK.SharedResources/Service Descriptors/EAI.SharedResources.Onstartup.1.0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://EAI/SharedResources/OnStartup/1/0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EAI.SharedResources.OnStartup" targetNamespace="http://EAI/SharedResources/OnStartup/1/0">
  <wsdl:types>
    <xsd:schema targetNamespace="http://EAI/SharedResources/OnStartup/1/0">
      <xsd:element name="Operation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ApplicationName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OperationRequest">
    <wsdl:part element="tns:Operation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OperationResponse">
    <wsdl:part element="tns:OperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EAI.SharedResources.OnStartup.1.0">
    <wsdl:operation name="Operation">
      <wsdl:input message="tns:OperationRequest"/>
      <wsdl:output message="tns:OperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EAI.SharedResources.OnStartupSOAP" type="tns:EAI.SharedResources.OnStartup">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Operation">
      <soap:operation soapAction="http://EAI/SharedResources/OnStartup/1/0/Operation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

</wsdl:definitions>
