FWK.CONSOLE.SERVICES/FWK.Console/Schemas/error_handling/SERVICES.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/SERVICES" elementFormDefault="qualified" targetNamespace="http://www.example.org/SERVICES">


    <element name="APPLICATIONS" type="tns:APPLICATIONS"></element>

    <complexType name="APPLICATION">	
    <sequence>
    		<element name="NAME" type="string"/>
    	</sequence>
    </complexType>
    <complexType name="APPLICATIONS">
    	<sequence>
    		<element name="APPLICATION" type="tns:APPLICATION" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>
</schema>
