FWK.CONSOLE.SERVICES/module.FWK.SharedResources/Schemas/AuxSchema.xsd

<xs:schema xmlns="http://Polarising/Shared/Resources/AuxSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    attributeFormDefault="unqualified" elementFormDefault="qualified" 
    targetNamespace="http://Polarising/Shared/Resources/AuxSchema">	
	
	
	<xs:element name="In" type="In" />
	
	<xs:complexType name="In">
		<xs:sequence>
			<xs:element name="Field" minOccurs="0" type="xs:string" />
			<xs:element name="Field2" minOccurs="0" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	
</xs:schema>