FWK.CONSOLE.SERVICES/module.FWK.SharedResources/Schemas/MainSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/schema/1544622770833" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://www.example.org/schema/1544622770833">
  <element name="operationRequest1">
    <complexType>
      <sequence>
        <element name="in" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="operationResponse1">
    <complexType>
      <sequence>
        <element name="out" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>
